<h1>New Project</h1>

<%= render 'form', project: @project %>

<div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-6  inputGroupContainer">

        <%= link_to 'Back', projects_path,:class=>"btn btn-success " %>

          </div>
        </div> 